
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>contact</h2>
                <div class="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11910.7379386882!2d-93.59782812906528!3d41.72732676651727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1388999556984" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>

                <div class="contact-info">
                    <div class="row">
                        <div class="col-md-4">
                            <ul>
                                <li><span class="location">London 26 avenue 12/8 yellow garden street</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><span class="mail"><a href="mailto:zoom@mail.com">Zoom@mail.com</a></span></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><span class="phone">(000) 355 588 456 789</span></li>
                                <li><span class="phone">(777) 311 225 689 147</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="site-title">
                    <div class="site-inside">
                        <span>Write us a letter</span>
                    </div>
                </div>

                <div class="the-form">
                    <form id="contact_form">
                        <div class="row">
                            <div class="col-md-4">
                                <p>Name</p>
                                <input type="text" name="contact-name" class="the-line">
                            </div>
                            <div class="col-md-4">
                                <p>E-mail</p>
                                <input type="text" name="contact-email" class="the-line">
                            </div>
                            <div class="col-md-4">
                                <p>Website</p>
                                <input type="text" name="contact-website" class="the-line">
                            </div>
                        </div>
                        <p>Comments</p>
                        <textarea name="contact-message" class="the-area"></textarea>
                        <input type="submit" id="form-send" value="Send" class="button-4">
                    </form>
                </div>
            </div>

            

                        

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
