@model ticaret.Models.viewmodel
@{
    ViewBag.Title = "tamam";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}


<div class="content">
   
            <div class="container">

             
                
                <h2>Siparişiniz tamamlanmıştır.</h2>
                <h4>Sipariş Numarası:@ViewBag.donus</h4>

                <h4> <a href="/home/index">Alışveri devam etmek için tıklayınız</a></h4>

        </div>
    </div>